<ons-page id="home">
  <ons-navigator swipeable id="myNavigator_home" page="page1.html"></ons-navigator>
  <template id="page1.html">
    <ons-page id="home">
      <div class="container" id="btnCategory" style="background-color: white; text-align: center; border-radius: 12px">
        <button id="Action" class="button activetype">ACTION</button>
        <button id="Comedy" class="button">COMEDY</button>
        <button id="Horror" class="button">HORROR</button>
        <button id="Romantic" class="button">ROMANTIC</button>

      </div>
      <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carouselBig" style="height: 32%;">
        <ons-carousel-item>
             <video id="videoBG" style="width:100%;height:auto;"  autoplay muted loop><source src="/video/mv str.mp4" type="video/mp4">
                  </ons-carousel-item>
                  <ons-carousel-item>
                  <video id="videoB" style="width:100%;height:auto;"  autoplay muted loop><source src="/video/mv hw.mp4" type="video/mp4">
                  </ons-carousel-item>
                    <ons-carousel-item>
                    <video id="video" style="width:100%;height:auto;"  autoplay muted loop><source src="/video/ted.mp4" type="video/mp4"> 
                    </ons-carousel-item>  
        <!-- <div id="test"></div> -->
      </ons-carousel>
      <div id="recomlist"></div>
      <div id="movieList">

        <ons-carousel auto-refresh swipeable overscrollable item-width="150px"style="margin-left: 13px;">
          <div class=" movie_list" id="gg" style="height: 215px;">
          </div>
        </ons-carousel>
      </div>
    </ons-page>
  </template>
</ons-page>