<ons-page id="moviedetails">
    <ons-toolbar id="detailsfonts">
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center" style="
        width: 0px;"></div>
        <div class="center toolbar__center toolbar__title"></div>
      </ons-toolbar>

      <ons-card>
        <img src="/image/player.jpg" alt="Onsen UI" style="width: 100%">
        <div class="title">
          <h1>300<h1>
        </div>
        <div class="content">
          <div>
            In 480 B.C. begins his story by depicting 
            the life of Leonidas I from childhood to kingship via Spartan
             doctrine. Dilios's story continues and a Persian herald arrives 
             at the gates of Sparta demanding "earth and water" as a token 
             of submission to King Xerxes—the Spartans reply by throwing 
             the envoy and his escort into a deep well. Leonidas then visits
              the Ephors, proposing a strategy to drive back the numerically
               superior Persians through the Hot Gates. His plan involves 
               building a wall in order to funnel the Persians into a narrow 
               pass between the rocks and the sea: negating the ...
             
          </div>
          <br>
      </ons-card>
</ons-page>