<ons-page id="profile" style="font-size: 18px;">
    <ons-list>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="/image/profile.png" style="width: 100%;margin-left: 15px;">
            </div>
            <div class="col-7 center" style="margin-left: 1rem;margin-top: 1.5rem;font-weight: bold;">
                
                id : #aom-tmst(Github)
            </div>
        </div>
        <br>
        <ons-list-header></ons-list-header>
        <ons-list-item>User : Tamasat Monthiraj</ons-list-item>
        <ons-list-header></ons-list-header>
        <ons-list-item>Gmail : tmst.mtj@gmail.com</ons-list-item>
        <ons-list-header></ons-list-header>
        <ons-list-item tappable>Account setting</ons-list-item>
        <ons-list-header></ons-list-header>
        <ons-list-item>
          <div class="center">
            Darkmode
          </div>
          <div class="right">
            <ons-switch></ons-switch>
          </div>
        </ons-list-item>
        <ons-list-header></ons-list-header>
        <ons-list-item>
          <div class="center">
            Online/Ofline
          </div>
          <div class="right">
            <ons-switch></ons-switch>
          </div>
        </ons-list-item>
      </ons-list>
      <br>
      <div class="text-center"><button type="button" id="signout" class="btn btn-danger align-center" style="border-radius: 15px;">Sign Out</button></div>
 
</ons-page>
